---

# Referenced: https://github.com/GoogleCloudPlatform/cpp-samples/blob/main/speech/api/.clang-tidy
# If you want to set the checklist more carefully,
# refer to The list of clang-tidy checks (https://clang.llvm.org/extra/clang-tidy/checks/list.html).

Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    -bugprone-reserved-identifier,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-unchecked-optional-access,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-rvalue-reference-param-not-moved,
    -cppcoreguidelines-narrowing-conversions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -google-readability-braces-around-statements,
    -modernize-use-trailing-return-type,
    -modernize-use-equals-default,
    -modernize-use-ranges,
    -misc-use-anonymous-namespace,
    -misc-use-internal-linkage,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion,
    -misc-const-correctness,
    -readability-convert-member-functions-to-static

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

ImplementationFileExtensions: ['cpp']

HeaderFileExtensions: ['h']

HeaderFilterRegex: 'src/(app)/.*'

CheckOptions:
    - { key: readability-identifier-naming.ClassCase,                 value: CamelCase  }
    - { key: readability-identifier-naming.StructCase,                value: CamelCase  }
    - { key: readability-identifier-naming.TemplateParameterCase,     value: CamelCase  }
    - { key: readability-identifier-naming.FunctionCase,              value: camelBack  }
    - { key: readability-identifier-naming.VariableCase,              value: lower_case }
    - { key: readability-identifier-naming.PrivateMemberSuffix,       value: _          }
    - { key: readability-identifier-naming.ProtectedMemberSuffix,     value: _          }
    - { key: performance-move-const-arg.CheckTriviallyCopyableMove,   value: 'false'    }
    - { key: implementation-file-regex,                               value: '.*(?:src/app/).*\\.cpp$' }
    - { key: header-file-regex,                                       value: '.*(?:src/app/).*\\.h$' }

